body{
    height: 500px;
    width: 700px;
    border: 2px solid black;
    margin: auto;
    
}

.nav-icons-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#buttons{
    margin: 5px;
}

.button{
    /* margin: 10px; */
    width: 30px;
}

button:hover{
    background-color: blue;
    
}